{% extends "layout/default.html" %}

{% block wrapper %}
    <div class="row">
        <div class="col-md-8"><article>{{ parent() }}</article></div>
        <div class="col-md-4">
            <h3>Custom 1</h3>
            <aside>{{ su.macro.token( "custom1" ) }}</aside>
            <hr />
            <h3>Custom 2</h3>
            <aside>{{ su.macro.token( "custom2" ) }}</aside>
            <hr />
            <h3>Custom 3</h3>
            <aside>{{ su.macro.token( "custom3" ) }}</aside>
            <hr />
            <h3>Custom 4</h3>
            <aside>{{ su.macro.token( "custom4" ) }}</aside>
        </div>
	</div>
{% endblock %}