.relatedInfo {
	overflow: hidden;
	margin-top: 2rem;
	ul {
		padding-left: 0;
	}
	li {
		margin-right: 1.5em;
		margin-bottom: .5em;
	}
	a {
		text-decoration: none;
	}
	&:not( .relatedInfo__newlines ) li {
		display: inline-block;
	}
}
