.icons {
	margin-bottom: 1rem;
	margin-top: 1rem;
	text-align: center;
	@media ( max-width: @screenXsMax ) {
		margin-top: 1rem;
		text-align: left;
	}
	a {
		padding: .5rem;
		display: inline-block;
	}
}