{% extends "layout/default.html" %}

{% set body_class = "layout-article" %}

{% block headerTitle %}
	<div class="banner-image no-print"{% if su.page.featuredImage %} style="background-image: url( '{{ su.page.featuredImage.fill( 1500, 200 ) }}' );"{% endif %}></div>
{% endblock %}

{% block pageContent %}
	{% set afterSidebar %}
		{% include "partial/relatedInfo.html" %}
	{% endset %}

	{% include "partial/twoUpContent.html" with {
		mainContent: parent(),
		afterSidebar: afterSidebar
	} only %}
{% endblock %}
