{% extends base_layout %}

{% block theme_head %}
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{{ su.site.name }}{% if su.page.title != "" %} : {{ su.page.title }}{% endif %}</title>
		<link href="//fonts.googleapis.com/css?family=Pacifico|Alegreya+Sans+SC" rel="stylesheet" type="text/css">
{% endblock %}

{% block theme_body %}
<body class="{{ body_class }}">
	{% block logoSitename %}
	<div class="row">
		<div class="col-sm-12">
			{% include "partial/branding.html" %}
		</div>
	</div>
	{% endblock %}
	
	{% block navigation %}
	<div class="row">
		<div class="col-sm-12">
			{% include "partial/navigation.html" %}
		</div>
	</div>
	{% endblock %}
	
	{% block heroImage endblock %}
	
	{% block search %}
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				{% include "partial/search.html" %}
			</div>
		</div>
	</div>
	{% endblock %}
	
	{% block socialIcons %}
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				{% include "partial/socialIcons.html" %}
			</div>
		</div>
	</div>
	{% endblock %}

	<section class="content container">
		{% block content_header %}
		<div class="row">
			<div class="col-sm-12">
				{% block breadcrumbsShare %}
					{% include "partial/breadcrumbsShare.html" %}
				{% endblock %}
				
				{% block titleShow %}
					{% include "partial/titleShow.html" %}
				{% endblock %}
			</div>
		</div>
		{% endblock %}
		{% block content_wrapper %}
		<div class="row">
			<div class="col-sm-12">
				{{ su.content }}
			</div>
		</div>
		{% endblock %}
	</section>
	
	{% block footer %}
		{% include "partial/footer.html" %}
	{% endblock %}
	
	{% include "partial/imageEffects.html" %}
</body>
{% endblock %}
