{% extends base_layout %}

{% block theme_head %}
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{{ su.site.name }}{% if su.page.title != "" %} : {{ su.page.title }}{% endif %}</title>
	<script type="text/javascript">
		var doesFade = {{ ( "Fade" in ""~su.theme.config( "imageLoadEffect" ) ) ? "true" : "false" }};
		var doesSlide = {{ ( "Slide" in ""~su.theme.config( "imageLoadEffect" ) ) ? "true" : "false" }};
	</script>
	{{ su.theme.js( "imgEffects.js" ) }}
{% endblock %}

{% block theme_body %}
<body>
	<header>
	{% block header %}
		<div class="container">
			<div class="icons">
			{% for social in su.social %}
				<a class="social-btn-bg" href="{{ social.url }}" target="_blank">{{ getIcon( social.icon ) }}</a>
			{% endfor %}
			</div>
			<h1>{{ su.site.name }}</h1>
			<br />
			<h2>{{ su.site.secondline }}</h2>
			<br />
			<div class="banner-image no-print"{% if su.page.featuredImage %} style="padding-top: 25%; background-image: url('{{ su.page.featuredImage.fill(1200, 300) }}');"{% endif %}></div>
		</div>
	{% endblock %}
	</header>
	
	<nav>
	{% block navigation %}
		<div class="navbar navbar-inverse site-nav" id="site-nav" role="navigation">
			<div class="container">
				<div class="collapse navbar-collapse">
					<ul class="nav navbar-nav">
					{% for nav in su.site.navigation %}
						<li{% if nav.current %} class="active"{% endif %}>
							<a href="{{ nav.url }}" target="{{ nav.target }}">{{ nav.name }}</a>
						</li>
					{% endfor %}
					</ul>
				</div>
			</div>
		</div>
	{% endblock %}
	</nav>
	
	<section>
		<div class="container">
		{% block wrapper %}
			{{ su.content }}
		{% endblock %}
		</div>
	</section>

	<footer>
		<div class="container">
		{% block footer %}
			{{ su.footer }}
		{% endblock %}
		</div>
	</footer>
</body>
{% endblock %}
