{% set sharelinks = ( sharelinks is defined ) ? sharelinks : su.page.sharelinks %}

{% if sharelinks is not empty %}
	<div class="content-shareMenu btn-group no-print">
		<button type="button" class="button bleached dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
			Share <span class="caret"></span>
		</button>
		<ul class="dropdown-menu pull-right">
			{% for sharelink in sharelinks %}
				<li>
					<a href="{{ sharelink.url }}">{{ getIcon( sharelink.icon ) }} {{ sharelink.title }}</a>
				</li>
			{% endfor %}
		</ul>
	</div>
{% endif %}