<h2 class="page-title">{{ su.editable.title }}</h2>
{% if su.theme.config( "showAuthor" ) and su.page.authors|length > 0 %}
	By: {% for author in su.page.authors %}
		{% if loop.last %}
			{{ author.name }}<br />
		{% else %}
			{{ author.name }},&nbsp;
		{% endif %}
	{% endfor %}
{% endif %}

{% if su.theme.config( "showPublishedDate" ) %}
	Published: {{ su.page.publishedAt|date( "F j, Y" ) }} &nbsp;&nbsp;&nbsp;&nbsp;
{% endif %}

{% if su.theme.config( "showUpdatedDate" ) %}
	Updated: {{ su.page.updatedAt|date( "F j, Y" ) }}
	<p>&nbsp;</p>
{% endif %}